body {
  background-color: #E9F4FA; 
}
.partners-container {
  background-color: #e9f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 42px 60px;
}

@media (max-width: 991px) {
  .partners-container {
    padding: 0 20px;
  }
}

.partners-wrapper {
  display: flex;
  width: 100%;
  max-width: 1202px;
  flex-direction: column;
  
}

@media (max-width: 991px) {
  .partners-wrapper {
    max-width: 100%;
  }
}

.partner-intro {
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
  background-color: #336784;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  padding: 20px 65px;
}

@media (max-width: 991px) {
  .partner-intro {
    max-width: 100%;
    padding: 0 20px;
  }
}

.partner-title {
  font: 40px Inter, sans-serif;
}

.partner-description {
  font: 23px Inter, sans-serif;
  margin-top: 5px;
}

.contact-button {
  font-family: Montserrat, sans-serif;
  border-radius: 10px;
  background-color: #772432;
  align-self: start;
  margin-top: 19px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  padding: 15px 40px;
  font-size: 20px;
  color: #fff;
  border: none;
}

.partners-section {
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  display: flex;
  margin-top: 44px;
  align-items: center;
  justify-content: center;
  padding: 20px 70px;
}

@media (max-width: 991px) {
  .partners-section {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}

.partners-content {
  display: flex;
  width: 694px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}

.partners-header {
  color: #000;
  font: 600 40px Montserrat, sans-serif;
}

.partners-subheader {
  color: #000;
  margin-top: -10px;
  font: 400 32px Montserrat, sans-serif;
}

.partners-images {
  align-self: stretch;
  margin-top: 10px;
  padding: 0 1px;
}

@media (max-width: 991px) {
  .partners-images {
    max-width: 100%;
    margin-top: 40px;
  }
}

.partners-images-container {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .partners-images-container {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.partner-img-1 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .partner-img-1 {
    width: 100%;
  }
}

.partner-img-1 img {
  aspect-ratio: 3.85;
  object-fit: auto;
  object-position: center;
  width: 284px;
  align-self: stretch;
  margin: auto 0;
}

.partner-img-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 38%;
  margin-left:  60px;
}

@media (max-width: 991px) {
  .partner-img-2 {
    width: 100%;
  }
}

.partner-img-2 img {
  
  object-fit: auto;
  object-position: center;
  
  
}

.support-section {
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
  background-color: #336784;
  margin-top: 46px;
  padding: 20px 65px;
}

@media (max-width: 991px) {
  .support-section {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}

.support-content {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .support-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.support-logo {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .support-logo {
    width: 100%;
  }
}

.support-logo img {
  aspect-ratio: 1.64;
  object-fit: auto;
  object-position: center;
  width: 259px;
  max-width: 100%;
  align-self: stretch;
  margin: auto 0;
}

.support-description {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 75%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .support-description {
    width: 100%;
  }
}

.support-description-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
}

.support-header {
  font: 24px Inter, sans-serif;
}

.support-subheader {
  margin-top: 1px;
  font: 32px Inter, sans-serif;
}

.support-text {
  text-align: justify;
  margin-top: 1px;
  font: 17px Inter, sans-serif;
}

.more-info-button-1 {
  font-family: Montserrat, sans-serif;
  border-radius: 10px;
  background-color: #772432;
  align-self: end;
  margin-top: 19px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  padding: 15px 40px;
  font-size: 20px;
  color: #fff;
  border: none;
}

.community-section {
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
  background-color: #336784;
  margin-top: 50px;
  padding: 20px 65px;
}

@media (max-width: 991px) {
  .community-section {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}

.community-content {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .community-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.community-description {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 69%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .community-description {
    width: 100%;
  }
}

.community-description-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  color: #fff;
}

.community-content-wrapper {
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  font-weight: 400;
}

.community-header {
  font: 24px Inter, sans-serif;
}

.community-subheader {
  margin-top: 1px;
  font: 32px Inter, sans-serif;
}

.community-text {
  text-align: justify;
  margin-top: 1px;
  font: 16px Inter, sans-serif;
}

.more-info-button-2 {
  font-family: Montserrat, sans-serif;
  border-radius: 10px;
  background-color: #772432;
  align-self: start;
  margin-top: 19px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  padding: 15px 40px;
  font-size: 20px;
  color: #fff;
  border: none;
}

.community-image {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 31%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .community-image {
    width: 100%;
  }
}

.community-image img {
  aspect-ratio: 1.75;
  object-fit: auto;
  object-position: center;
  width: 100%;
  align-self: stretch;
  margin: auto 0;
}
.contact-us {
  background-color: #c4d7e2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

@media (max-width: 991px) {
  .contact-us {
    padding: 0 20px;
  }
}

.contact-us-content {
  display: flex;
  width: 971px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}

.contact-us-title {
  color: #000;
  font: 400 40px Inter, sans-serif;
}

.contact-us-description {
  color: #000;
  align-self: stretch;
  margin-top: 20px; 
  font: 400 20px Inter, sans-serif;
  text-align: center;
}

@media (max-width: 991px) {
  .contact-us-description {
    max-width: 100%;
    margin-top: 15px; 
  }
}

.contact-us-subtitle {
  color: #000;
  margin-top: 15px; 
  font: 400 20px Inter, sans-serif;
  text-align: center;
}

.contact-us-instructions {
  color: #000;
  margin-top: 15px; 
  font: 400 20px Inter, sans-serif;
  text-align: center;
}

@media (max-width: 991px) {
  .contact-us-instructions {
    max-width: 100%;
  }
}

.email-us-button {
  border-radius: 10px;
  background-color: #772432;
  margin-top: 30px;
  color: #fff;
  text-align: center;
  justify-content: center;
  padding: 16px 29px;
  font: 400 24px Inter, sans-serif;
}

@media (max-width: 991px) {
  .email-us-button {
    margin-top: 20px;
    padding: 0 20px 0 23px;
  }
}

.contact-form-container {
  align-self: stretch;
  display: flex;
  margin-top: 30px; 
  flex-direction: column;
  padding: 0 38px;
}

@media (max-width: 991px) {
  .contact-form-container {
    max-width: 100%;
    margin-top: 20px; 
    padding: 0 20px;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.name-fields, .phone-company-fields {
  display: flex;
  gap: 20px;
}

@media (max-width: 991px) {
  .name-fields, .phone-company-fields {
    flex-direction: column;
    align-items: stretch;
  }
}

.name-field, .phone-field, .company-field {
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media (max-width: 991px) {
  .name-field, .phone-field, .company-field {
    width: 100%;
  }
}

.contact-form-title {
  font: 32px Inter, sans-serif;
  text-align: center;
}

.forename-label, .surname-label, .email-label, .phone-label, .company-label, .message-label {
  margin-top: 20px;
  font: 20px Inter, sans-serif;
}

@media (max-width: 991px) {
  .forename-label, .surname-label, .phone-label, .company-label {
    margin-top: 20px;
  }
}

input, textarea {
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.forename-input, .surname-input, .email-input, .phone-input, .company-input {
  height: 45px;
}

.message-input {
  height: 173px;
}

.send-message-button {
  border-radius: 10px;
  background-color: #772432;
  align-self: flex-end;
  margin-top: 20px;
  color: #fff;
  text-align: center;
  justify-content: center;
  padding: 16px 29px;
  font: 400 24px Inter, sans-serif;
}

@media (max-width: 991px) {
  .send-message-button {
    align-self: center;
    margin-top: 20px;
    padding: 10px 20px;
  }
}
.footer {
  background-color: #004165;
  padding: 27px 39px;
}
@media (max-width: 991px) {
  .footer {
    padding: 0 20px;
  }
}
.footer-container {
  display: flex;
  gap: 20px;
}
@media (max-width: 991px) {
  .footer-container {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}
.footer-section, .footer-address, .footer-contact, .footer-social {
  line-height: normal;
  color: #fff;
}
.footer-section, .footer-address, .footer-contact, .footer-social {
  flex-direction: column;
  display: flex;
}
.footer-section {
  width: 39%;
  margin-left: 0;
}
@media (max-width: 991px) {
  .footer-section {
    width: 100%;
  }
}
.footer-links, .footer-copyright {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.footer-links {
  margin-top: 56px;
}
@media (max-width: 991px) {
  .footer-links {
    margin-top: 40px;
    max-width: 100%;
  }
}
.footer-copyright {
  margin-top: 5px;
  font-size: 15px;
}
@media (max-width: 991px) {
  .footer-copyright {
    max-width: 100%;
  }
}
.footer-address {
  width: 23%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .footer-address {
    width: 100%;
  }
}
.footer-address-details {
  display: flex;
  gap: 16px;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 991px) {
  .footer-address-details {
    margin-top: 40px;
  }
}
.footer-address-logo {
  width: 90px;
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
}
.footer-address-info {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.footer-address-city {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}
.footer-address-building, .footer-address-street {
  font-family: Montserrat, sans-serif;
}
.footer-address-building {
  margin-top: 20px;
}
.footer-address-street {
  margin-top: 6px;
}
.footer-contact {
  width: 22%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .footer-contact {
    width: 100%;
  }
}
.footer-contact-details {
  margin-top: 57px;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 991px) {
  .footer-contact-details {
    margin-top: 40px;
  }
}
.footer-contact-phone, .footer-contact-email {
  font-family: Montserrat, sans-serif;
}
.footer-contact-email {
  margin-top: 6px;
}
.footer-social {
  width: 16%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .footer-social {
    width: 100%;
  }
}
.footer-social-icons {
  display: flex;
  gap: 13px;
  margin-top: 42px;
}
@media (max-width: 991px) {
  .footer-social-icons {
    margin-top: 40px;
  }
}
.footer-social-icon {
  width: 50px;
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
}
.footer-social-icon-larger {
  width: 52px;
  aspect-ratio: 1.04;
  object-fit: auto;
  object-position: center;
}